<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="twoWindow" *ngIf="!isLoading">
    <div class="oben window">
        <div class="windowTitle windowHeader">
            <p>Kopfdaten</p>
            <a (click)="openMetaInformationen()" class="metaIcon"><img [src]="meta" alt="">
            </a>
        </div>
        <div class="windowContent">
            <div class="split firstSplit">
                <div>
                    <div class="row" *ngFor="let p of projekt">
                        <p>Nummer:</p>
                        <p>AN 10-{{p.vorgangsID}}</p>
                    </div>
                    <div class="row" *ngFor="let k of kunde">
                        <p>Kunde:</p>
                        <p>
                            KU 40-{{k.id}}
                            <br/> {{k.bezeichnung}}
                            <br/> {{k.adresse}}
                            <br/> {{k.ortschaft}}
                        </p>
                    </div>
                    <div class="row" *ngFor="let p of partner">
                        <p>Partner:</p>
                        <p>{{p.anrede}} {{p.name}}</p>
                    </div>
                    <div class="btnBearbeiten">
                        <p (click)="openAnsprechpartner()">Ansprechpartner bearbeiten</p>
                    </div>
                </div>
                <div>
                    <div class="btnBearbeiten">
                        <p (click)="openRechnungsadresse()">Rechnungsadresse bearbeiten</p>
                    </div>
                </div>
            </div>
            <div class="split secondSplit">
                <div class="btnBearbeiten" *ngFor="let p of projekt">
                    <div class="notizen">
                        <textarea readonly="readonly">{{p.notizen}}</textarea>
                    </div>
                    <p (click)="openNotizen(p.id)">Notizen bearbeiten</p>
                </div>
            </div>
            <div class="split thirdSplit">
                <div class="btnBearbeiten">
                    <p (click)="openKonditionen()">Konditionen</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openBelege()">Belege</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openLoeschen()">Vorgang löschen</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openUmwandeln()">Angebot umwandeln</p>
                </div>
                <div class="dropDown">
                    <select name="status" id="status">
                        <option *ngFor="let status of status">{{status.status}}</option>
                    </select>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="save()">Angebot speichern</p>
                </div>

            </div>
        </div>
    </div>

    <div class="unten window">
        <div class="windowTitle windowHeader">
            <p>Positionen</p>
        </div>
        <div class="btnErfassen positionen">
            <button type="button" class="btnErfassen" (click)="openKalkulation()">Kalkulation</button>
        </div>
        <div class="positionTable">
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Beschreibung</th>
                        <th>Menge</th>
                        <th>Einheit</th>
                        <th>Einzelpreis</th>
                        <th>Rabatt</th>
                        <th>Endpreis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of position">
                        <td><a routerLink="/">{{p.positionsNummer}}</a></td>
                        <td><a routerLink="/">{{p.bezeichnung}}<br />{{p.untertext}}<br /></a></td>
                        <td><a routerLink="/">{{p.menge}}</a></td>
                        <td><a routerLink="/">{{p.einheitsID}}</a></td>
                        <td><a routerLink="/">{{p.vPBrutto}}.-</a></td>
                        <td><a routerLink="/">{{p.kundenRabatt}}%</a></td>
                        <td><a routerLink="/">{{p.vPNetto}}.-</a></td>
                    </tr>
                    <tr class="zwischenSpalte">
                        <td colspan="7"></td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>Total vor Steuer</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>CHF {{totalVorSteuer}}.-</td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>Steuer</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>CHF {{steuer}}.-</td>
                    </tr>
                    <tr class="total">
                        <td></td>
                        <td>Total nach Steuer</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="endTotal">CHF {{totalNachSteuer}}.-</td>
                    </tr>
                </tbody>
            </table>
            <div class="tableMenu">
                <div class="split firstSplit">
                    <div class="btnPositionen">
                        <p (click)="openPosition()">Position erfassen</p>
                    </div>
                </div>
                <div class="split secondSplit">
                    <div class="btnPositionen">
                        <p (click)="deletePosition()">Position entfernen</p>
                    </div>
                </div>
                <div class="split thirdSplit">
                    <div class="btnPositionen">
                        <p (click)="openTextposition()">Textposition erfassen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-c-footer></app-c-footer>