<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Zahlungskonditionen</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Zahlungsart:</p>
            <div class="dropDown">
                <select name="zahlungsarten" id="zahlungsarten">
                    <option *ngFor="let zaGruppe of zaGroup">{{zaGruppe.zaGruppe}}</option>
                </select>
            </div>
            <p>Zahlungskonditionen:</p>
            <div class="dropDown">
                <select name="zahlungsbedingungen" id="zahlungsbedingungen">
                    <option *ngFor="let zbGruppe of zbGroup">{{zbGruppe.zbGruppe}}</option>
                </select>
            </div>
            <p>Kundenrabatt:</p>
            <input type="text" value="{{kundenrabatt}}%">
        </div>
        <div class="split secondSplit">
        </div>
        <div class="split thirdSplit">
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Änderungen erfassen</p>
        </div>
    </div>
</div>