@import './src/sass/var'
    
/* ### Gesamte Seite ### */
.loginContent
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

/* ### Logo ### */
.loginLogo
    position: fixed
    top: 120px

.loginLogo img
    height: 300px

/* ### Login Form ### */
.loginForm
    position: fixed
    bottom: 195px

.loginUserName input::placeholder, 
.loginPasswort input::placeholder
    color: $formFontColor

.loginUserName input, 
.loginPasswort input
    width: 487px
    background-color: white
    height: 35px
    margin-top: 5px
    color: black

.loginUserName, 
.loginPasswort
    height: 45px
    border: 1px solid $borderColor
    border-radius: 8px
    background-color: white
    margin-top: 10px
    margin-bottom: 10px

.loginUserName input, 
.loginPasswort input
    margin-left: 10px
    margin-right: 10px

.loginUserName input, 
.loginPasswort input
    &:focus
        border: none
        outline: none

.loginUserName img, 
.loginPasswort img
    background-color: white

.loginForm img
    height: 30px
    display: inline
    vertical-align: top
    margin-top: 2.5px
    margin-left: 2px

.loginSubInfos
    width: 575-48+40px
    margin-bottom: 50px

.trennLinie
    border-right: 1px solid $borderColor
    padding: 5px

/* ### Eigene Checkbox ### */
.chb
    float: left
    margin-top: 10px

.chb label
    margin-left: 50px

.chbContainer
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.chbContainer input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

.checkmark
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 128px
    left: 0
    height: 30px
    width: 30px
    background-color: white
    border: 1px solid $borderColor
    background-color: $backgroundColor
    border-radius: 8px

.checkmark p
    display: none
    font-size: 20px
    font-weight: 600
    margin-bottom: 2px
    margin-left: 1px

.chbContainer input:checked ~ .checkmark p
    display: block

.checkmark:after 
  content: ""
  position: absolute
  display: none

.chbContainer input:checked ~ .checkmark:after 
  display: block

.chbContainer .checkmark:after
    left: 9px
    top: 5px
    width: 5px
    height: 10px

/* ### Passwort vergessen ### */
.pwFehler
    float: right

/* ### Login Button ### */
.submitLogin
    display: flex
    justify-content: center
    align-items: center
    width: 100%

.submitLogin input
    width: 250px
    height: 65px
    background-color: $primaryColor
    border: 1px solid $borderColor
    border-radius: 8px
    cursor: pointer
    margin-top: 10px

.submitLogin input
    background-color: $primaryColor
    font-family: $fontRoboto
    font-size: 30px


