<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="fiveWindow">
    <div class="fiveOben window">
        <div class="windowTitle windowHeader">
            <p>Kopfdaten</p>
            <a (click)="openMetaInformationen()" class="metaIcon"><img [src]="meta" alt="">
            </a>
        </div>
        <div class="windowContent">
            <div class="split firstSplit">
                <div>
                    <div class="row">
                        <p>Nummer:</p>
                        <p>{{vorgangsNummer}}</p>
                    </div>
                    <div class="row">
                        <p>Kunde:</p>
                        <p>
                            {{kundenNummer}}
                            <br/> {{kundenBezeichnung}}
                            <br/> {{kundenAnschrift}}
                            <br/> {{kundenOrt}}
                        </p>
                    </div>
                    <div class="row">
                        <p>Partner:</p>
                        <p>{{kundenPartner}}</p>
                    </div>
                    <div class="btnBearbeiten">
                        <p (click)="openProjektKundendaten()">Ansprechpartner bearbeiten</p>
                    </div>
                </div>
                <div>
                    <div class="btnBearbeiten">
                        <p (click)="openRechnungsadresse()">Rechnungsadresse bearbeiten</p>
                    </div>
                </div>
            </div>
            <div class="split secondSplit">
                <div class="btnBearbeiten">
                    <div class="notizen">
                        <textarea readonly="readonly">{{notizen}}</textarea>
                    </div>
                    <p (click)="openNotizen()">Notizen bearbeiten</p>
                </div>
            </div>
            <div class="split thirdSplit">
                <div class="btnBearbeiten">
                    <p (click)="openKonditionen()">Konditionen</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openBelege()">Belege</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openLoeschen()">Vorgang löschen</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openAuftragAbschliessen()">Auftrag abschliessen</p>
                </div>
                <div class="dropDown">
                    <select name="status" id="status">
                        <option *ngFor="let status of status">{{status.status}}</option>
                    </select>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="save()">Auftrag speichern</p>
                </div>

            </div>
        </div>
    </div>
    <div class="fiveML window">
        <div class="stunden">
            <div class="windowTitle windowHeader">
                <p>Stunden</p>
            </div>
            <div class="btnErfassen">
                <button type="button" class="btnErfassen" (click)="openStunden()">Stunden Erfassen</button>
            </div>
            <div class="stundenContent">
                <div class="stundenBalken">
                    <div class="balkenMA" *ngFor="let stunde of stunden">
                        <p>{{stunde.mitarbeiter}}</p>
                    </div>
                    <div class="totalBeschrieb">
                        <p>Total:</p>
                    </div>
                </div>
                <div class="kostenBeschrieb">
                    <div class="beschrieb" *ngFor="let stunde of stunden">
                        <p>{{stunde.stunden}} Stunden</p>
                    </div>
                    <div class="totalMenge">
                        <p>{{stundenTotal}} Stunden</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="kosten">
            <div class="windowTitle windowHeader">
                <p>Kosten</p>
            </div>
            <!--<div class="btnErfassen">
                <button type="button" class="btnErfassen" (click)="openBudget()">Kosten Erfassen</button>
            </div>-->
            <div class="kostenContent">
                <div class="kostenBalken">
                    <div class="balkenBudget">
                        <p>CHF {{budget}}.-</p>
                    </div>
                    <div class="balkenRegie">
                        <p>CHF {{regie}}.-</p>
                    </div>
                    <div class="balkenAusgaben">
                        <p>CHF {{ausgabe}}.-</p>
                    </div>
                    <div class="balkenErtrag">
                        <p>CHF {{ertrag}}.-</p>
                    </div>
                    <div class="margeBeschrieb">
                        <p>Marge:</p>
                    </div>
                </div>
                <div class="kostenBeschrieb">
                    <div class="beschrieb">
                        <p>Budget</p>
                    </div>
                    <div class="beschrieb">
                        <p>Regie</p>
                    </div>
                    <div class="beschrieb">
                        <p>Ausgaben</p>
                    </div>
                    <div class="beschrieb">
                        <p>Ertrag</p>
                    </div>
                    <div class="margeMenge">
                        <p>{{marge}}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fiveMR window">
        <div class="windowTitle windowHeader">
            <p>Meilensteine</p>
        </div>
        <div class="btnErfassen meilenstein">
            <button type="button" class="btnErfassen" (click)="openMeilenstein()">Meilenstein Erfassen</button>
        </div>
        <div class="windowTable meilensteinTable">
            <table>
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Meilenstein</th>
                        <th>Bis Datum</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let meilenstein of meilensteine">
                        <td><a (click)="openMeilenstein()">{{meilenstein.nummer}}</a></td>
                        <td><a (click)="openMeilenstein()">{{meilenstein.bezeichnung}}</a></td>
                        <td><a (click)="openMeilenstein()">{{meilenstein.datum}}</a></td>
                        <td><a (click)="openMeilenstein()">{{meilenstein.status}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="fiveUnten window">
        <div class="windowTitle windowHeader">
            <p>Positionen</p>
        </div>
        <div class="btnErfassen positionen">
            <button type="button" class="btnErfassen" (click)="openKalkulation()">Kalkulation</button>
        </div>
        <div class="positionTable">
            <table>
                <tr>
                    <th>Position</th>
                    <th>Beschreibung</th>
                    <th>Menge</th>
                    <th>Einheit</th>
                    <th>Einzelpreis</th>
                    <th>Rabatt</th>
                    <th>Endpreis</th>
                </tr>
                <tr *ngFor="let position of positionen">
                    <td><a routerLink="/">{{position.nummer}}</a></td>
                    <td><a routerLink="/">{{position.beschrieb}}<br /> {{position.untertext1}}<br />{{position.untertext2}}</a></td>
                    <td><a routerLink="/">{{position.menge}}</a></td>
                    <td><a routerLink="/">{{position.einheit}}</a></td>
                    <td><a routerLink="/">{{position.ep}}.-</a></td>
                    <td><a routerLink="/">{{position.rabatt}}%</a></td>
                    <td><a routerLink="/">{{position.endpreis}}.-</a></td>
                </tr>

                <tr class="zwischenSpalte">
                    <td colspan="7"></td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td colspan="5">Total vor Steuer</td>
                    <td>CHF {{totalVorSteuer}}.-</td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td colspan="5">Steuer</td>
                    <td>CHF {{steuer}}.-</td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td colspan="5">Total nach Steuer</td>
                    <td class="endTotal">CHF {{totalNachSteuer}}.-</td>
                </tr>
            </table>
            <div class="split firstSplit">
                <div class="btnPositionen">
                    <p (click)="openPosition()">Position erfassen</p>
                </div>
            </div>
            <div class="split secondSplit">
                <div class="btnPositionen">
                    <p (click)="deletePosition()">Position entfernen</p>
                </div>
            </div>
            <div class="split thirdSplit">
                <div class="btnPositionen">
                    <p (click)="openTextposition()">Textposition erfassen</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-c-footer></app-c-footer>