<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Auftrag abschliessen</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="text">
            <p>Achtung! Sie sind dabei den aktuellen Vorgang abzuschliessen. Hierbei wird eine Rechnung erstellt und versendet. Danach ist eine Änderung im Auftrag nicht mehr möglich.
            </p>
        </div>
        <div class="budgetContent">
            <div class="list">
                <p>Budget gemäss Positionenliste:</p>
                <input type="text" readonly class="contentReadonly" value="CHF {{budget}}.-">
            </div>
            <div class="list">
                <p>Kosten gemäss Stunden Mitarbeiter:</p>
                <input type="text" readonly class="contentReadonly" value="CHF {{stunden}}.-">
            </div>
            <div class="list">
                <p>Kosten in Regie gemäss Meilensteine:</p>
                <input type="text" readonly class="contentReadonly" value="CHF {{regie}}.-">
            </div>
            <div class="list">
                <p>Ertrag:</p>
                <input type="text" readonly class="contentReadonly" value="CHF {{ertrag}}.-">
            </div>
            <div class="list">
                <p>Marge:</p>
                <input type="text" readonly class="contentReadonly" value="{{marge}}%">
            </div>
            <div class="abstand">
            </div>
            <div class="list">
                <p>Rechnungsbetrag:</p>
                <input type="text" readonly class="contentReadonly" value="CHF {{rechnungsbetrag}}.-">
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="complete()">Auftrag endgültig abschliessen</p>
        </div>
    </div>
</div>