@import './src/sass/var'

/* ## Einzelne Elemente global gestylet ## */

/* Window Title und Content */
.windowTitle
    padding-left: 10px
    
.windowHeader, 
.windowTitle
    height: 30px
    width: 100%
    padding-top: 10px
    
.windowHeader p, 
.windowTitle p
    foont-family: $fontRoboto
    font-size: 25px

.windowHeader p
    position: absolute
    left: 10px

.windowHeader
    display: flex
    justify-content: center
    align-items: center

.windowContent
    padding-left: 40px

/* Window Meta Icon */
.metaIcon img
    height: 36px
    position: absolute
    right: 15px
    top: 10px

/* Window Searchbar */
.searchBarSmall
    width: calc(360px - 30px)
    height: 30px
    background-color: white
    border: 1px solid $borderColor
    border-radius: 5px

.searchBarSmall input
    background-color: white
    height: 30px
    width: 270px
    text-align: right
    margin-left: 18px
    &:focus
        outline: none

.searchBarSmall input::placeholder
    color: $formFontColor

.searchBarSmall img
    height: 15px
    float: right
    background-color: white
    margin-right: 10px
    margin-top: 8px
    border-left: 1px solid $borderColor
    padding-left: 5px
    margin-left: 10px

/* Window Erfassen Button */
.btnErfassen button
    position: absolute
    top: 10px
    right: 15px
    cursor: pointer
    width: 330px
    height: 30px
    border: 1px solid $borderColor
    background-color: white
    border-radius: 5px
    text-decoration: none

/* Window Tabelle */
.windowTable
    padding-left: 40px
    padding-top: 10px
    margin-right: 15px

.windowTable a
    width: 100%
    display: block

.windowTable table
    width: 100%
    font-family: $fontRoboto
    text-align: left
    border-collapse: collapse

.windowTable td, 
.windowTable th
    border-right: 1px solid $formFontColor
    padding-left: 5px

.windowTable th
    border-bottom: 1px solid $formFontColor
    padding-bottom: 5px
    font-size: 15px
    font-weight: bold

.windowTable td
    padding-top: 2px
    padding-bottom: 2px

.windowTable tr:nth-child(even)
    background-color: $tableColor

.windowTable td:nth-last-child(1),
.windowTable th:nth-last-child(1)
    border-right: none

.windowTable table:nth-last-child(1)
    border-bottom: none

.windowTable thead, 
.positionTable thead
    &::after
        content: ''
        overflow-y: scroll
        visibility: hidden

.windowTable tbody,
.positionTable tbody
        display: block
        overflow-y: auto
        height: auto
        max-height: calc( $gesamteHoehe - 90px )

.windowTable td, 
.windowTable th
    width: 100%


.windowTable thead th,
.positionTable thead th
        display: block

.windowTable thead tr,
.windowTable tbody tr,
.positionTable thead tr,
.positionTable tbody tr
        display: flex

.windowTable tbody tr,
.windowTable tbody td,
.positionTable tbody tr,
.positionTable tbody td
        flex: 1 auto
        word-wrap: break

/* ## Positionen Tabelle (Angebot und Auftrag) ## */
.positionTable
    padding-left: 40px
    padding-top: 10px
    margin-right: 10px

.positionTable a
    width: 100%
    display: block

.positionTable table
    width: 100%
    font-family: $fontRoboto
    text-align: left
    border-collapse: collapse

.positionTable td, 
.positionTable th
    border-right: 1px solid $formFontColor
    padding-left: 5px

.positionTable th
    border-bottom: 1px solid $formFontColor
    padding-bottom: 5px
    font-size: 15px
    font-weight: bold

.positionTable tr
    border-bottom: 1px solid $formFontColor 

.positionTable tr:nth-last-child(1)
    border-bottom: none

.positionTable td
    padding-top: 2px
    padding-bottom: 2px

.positionTable td:nth-last-child(1),
.positionTable th:nth-last-child(1)
    border-right: none

.zwischenSpalte td
    height: 15px

.total td
    border-right: none
    height: 30px

.endTotal
    text-decoration-line: underline
    text-decoration-style: double

.btnPositionen
    height: 34px 
    display: inline-block
    width: 100%
    justify-content: space-around

.btnPositionen p
    background-color: white
    border: 1px solid $borderColor
    border-radius: 5px
    text-align: center
    padding: 2px
    margin-bottom: 5px
    cursor: pointer

.windowContentPosition
    width: 100%

/* Angebot und Auftrag Kopfdaten */
.kundenDaten
    background-color: $tableColor
    border: 1px solid transparent
    border-radius: 5px
    margin-bottom: 5px

.btnBearbeiten
    height: 30px 

.btnBearbeiten p
    width: 100%
    background-color: white
    border: 1px solid $borderColor
    border-radius: 5px
    text-align: center
    padding-top: 5px
    padding-bottom: 5px
    margin-bottom: 5px
    cursor: pointer

.notizen textarea
    height: 180px
    width: 98%
    border: 1px solid transparent
    border-radius: 5px
    font-family: $fontRoboto
    text-align: justify
    padding: 5px
    background-color: $tableColor
    overflow: hidden
    resize: none
    font-size: 15px
    &:focus
        outline: none

/* DropDown */
select
    width: 102%
    height: 27px
    border: 1px solid $borderColor
    border-radius: 5px
    cursor: pointer
    outline: none
    margin-bottom: 5px
    font-size: 15px
    font-family: $fontRoboto
    
.speichern
    width: 100%
    text-align: center

/* BTN Speichern */ 
.speichern p
    width: 33%
    position: absolute
    right: 15px
    bottom: 10px
    border: 1px solid $borderColor
    border-radius: 5px
    padding-top: 5px
    padding-bottom: 5px
    margin-bottom: 5px
    cursor: pointer
