@import './src/sass/var'
    
/* Globale Variablen - Funktion zur Umwandlung von PX zu VW */
@function get-vw($target) 
  $vw-context: (1000*.01) * 1px
  @return ($target/$vw-context) * 1vw

$viewWidth: 100vw
$gesamteBreite: null

@if $viewWidth > get-vw(1300px)
    $gesamteBreite: calc(100vw - 135px - 17px)

@else if $viewWidth < get-vw(1300px)
    $gesamteBreite: calc(1300px - 135px - 25px)

$zweiTeiligeBreite: calc(calc(1300px - 115px - 15px - 30px - 15px) /2)
$gesamteHoehe: calc(100vh - 201px - 22px)
$zweiTeiligeHoeheOben: calc(calc(100vh - 201px - 30px - 15px - 100px) /2)
$zweiTeiligeHoeheUnten: calc(calc(100vh - 101px - 30px - 15px) /2)
$fixRechts: calc(calc(100vw - 1300px) / 2)
$fixLinks: calc(calc(calc(100vw - 1300px) / 2) + 115px)

/* Allgemeine Einstellungen */
.oneWindow,
.twoWindow,
.fiveWindow,
.forWindow
    //max-height: calc(100vh - 201px - 15px)
    height: auto
    width: auto

/* ### Ein Teilig ### */
.one
    position: fixed
    background-color: white
    border: 1px solid $borderColor
    border-radius: 20px
    margin-top: 5px
    top: 201px
    height: $gesamteHoehe
    width: $gesamteBreite
    left: $fixLinks
    margin-left: 20px
    overflow-y: scroll
    overflow-x: hidden
    
/* ### Zwei Teilig ### */
.oben, 
.unten 
    position: fixed
    background-color: white
    border: 1px solid $borderColor
    border-radius: 20px
    margin-top: 5px
    overflow-y: scroll
    overflow-x: hidden

.oben
    top: 201px
    height: $zweiTeiligeHoeheOben
    width: $gesamteBreite
    left: $fixLinks
    margin-left: 20px

.unten
    bottom: 15px
    height: $zweiTeiligeHoeheUnten
    width: $gesamteBreite
    left: $fixLinks
    margin-left: 20px

/* ### Vier Teilig ### */
.forOL, 
.forOR, 
.forUL, 
.forUR
    position: fixed
    background-color: white
    border: 1px solid $borderColor
    border-radius: 20px
    margin-top: 5px
    overflow-y: scroll
    overflow-x: hidden

.forOL
    top: 201px
    height: $zweiTeiligeHoeheOben
    width: $zweiTeiligeBreite
    left: $fixLinks
    margin-left: 20px

.forOR
    top: 201px
    height: $zweiTeiligeHoeheOben
    width: $zweiTeiligeBreite
    right: $fixRechts
    margin-right: 20px
    
.forUL
    bottom: 15px
    height: $zweiTeiligeHoeheUnten
    width: $zweiTeiligeBreite
    left: $fixLinks
    margin-left: 20px

.forUR
    bottom: 15px
    height: $zweiTeiligeHoeheUnten
    width: $zweiTeiligeBreite
    right: $fixRechts
    margin-right: 20px

/* ### Fünf Teilig ### */
.fiveOL, 
.fiveOR, 
.fiveML, 
.fiveMR,
.fiveUnten
    position: fixed
    background-color: white
    border: 1px solid $borderColor
    border-radius: 20px
    margin-top: 5px
    overflow-y: scroll
    overflow-x: hidden

.fiveOL
    top: 201px
    height: $zweiTeiligeHoeheOben
    width: $zweiTeiligeBreite
    left: $fixLinks
    margin-left: 20px

.fiveOR
    top: 201px
    height: $zweiTeiligeHoeheOben
    width: $zweiTeiligeBreite
    right: $fixRechts
    margin-right: 20px
    
.fiveML
    bottom: 15px
    height: $zweiTeiligeHoeheUnten
    width: $zweiTeiligeBreite
    left: $fixLinks
    margin-left: 20px

.fiveMR
    bottom: 15px
    height: $zweiTeiligeHoeheUnten
    width: $zweiTeiligeBreite
    right: $fixRechts
    margin-right: 20px

.fiveUnten
    top: 90vh
    height: 500px
    width: $gesamteBreite
    right: $fixRechts
    margin-right: 20px

/* ## Einzelne Elemente global gestylet ## */

/* Window Title und Content */
.windowTitle
    padding-left: 10px
    
.windowHeader, 
.windowTitle
    height: 30px
    width: 100%
    padding-top: 10px
    
.windowHeader p, 
.windowTitle p
    foont-family: $fontRoboto
    font-size: 25px

.windowHeader p
    position: absolute
    left: 10px

.windowHeader
    display: flex
    justify-content: center
    align-items: center

.windowContent
    padding-left: 40px

/* Window Meta Icon */
.metaIvon 
    position: absolute
    right: 0

.metaIcon img
    height: 36px
    position: absolute
    right: 0
    top: 10px

/* Window Searchbar */
.searchBarSmall
    width: calc(360px - 30px)
    height: 30px
    background-color: white
    border: 1px solid $borderColor
    border-radius: 5px

.searchBarSmall input
    background-color: white
    height: 30px
    width: 270px
    text-align: right
    margin-left: 18px
    &:focus
        outline: none

.searchBarSmall input::placeholder
    color: $formFontColor

.searchBarSmall img
    height: 15px
    float: right
    background-color: white
    margin-right: 10px
    margin-top: 8px
    border-left: 1px solid $borderColor
    padding-left: 5px
    margin-left: 10px

/* Window Erfassen Button */
.btnErfassen button
    position: absolute
    top: 10px
    right: 0px
    cursor: pointer
    width: 330px
    height: 30px
    border: 1px solid $borderColor
    background-color: white
    border-radius: 5px
    text-decoration: none

/* Tabellen */
.windowTable
    padding-left: 40px
    padding-top: 10px

.windowTable a
    width: 100%
    display: block

.windowTable table
    width: 100%
    font-family: $fontRoboto
    text-align: left
    border-collapse: collapse

.windowTable td, 
.windowTable th
    border-right: 1px solid $formFontColor
    padding-left: 5px

.windowTable th
    border-bottom: 1px solid $formFontColor
    padding-bottom: 5px
    font-size: 15px
    font-weight: bold

.windowTable td
    padding-top: 2px
    padding-bottom: 2px

.windowTable tr:nth-child(even)
    background-color: $tableColor

.windowTable td:nth-last-child(1),
.windowTable th:nth-last-child(1)
    border-right: none


