<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="popupWindow" *ngIf="!isLoading">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Ansprechpartner</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Partner:</p>
            <div class="popupTableFirst popupTable">
                <table>
                    <tbody>
                        <tr *ngFor="let p of ansprechpartner, let i = index" (click)="editPartner(p.id)">
                            <td>{{p.anrede}} {{p.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnBearbeiten">
                    <p (click)="addAnsprechpartner()">+</p>
                </div>

            </div>
        </div>
        <div class="split oneThird">
            <form [formGroup]="partnerForm" (submit)="savePartner()" class="oneThirdForm">
                <div class="userData">
                    <div class="split secondSplit">
                        <div class="form-group">
                            <p>Nummer:</p>
                            <input type="text" class="contentReadonly" readonly id="id" name="id" formControlName="id">
                        </div>
                        <div class="form-group">
                            <p>Anrede:</p>
                            <select id="anrede">
                                <option [ngValue]="null" disabled selected>Anrede</option>
                                <option *ngFor="let a of anrede" name="anrede" [ngValue]="a">{{a.anrede}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p>Name:</p>
                            <input type="text" id="name" name="name" formControlName="name">
                        </div>
                        <div class="form-group">
                            <p>E-Mail:</p>
                            <input type="text" id="mail" name="mail" formControlName="mail">
                        </div>
                        <div class="form-group">
                            <p>Telefon:</p>
                            <input type="text" id="telefon" name="telefon" formControlName="telefon">
                        </div>
                        <div class="form-group">
                            <p>Funktion:</p>
                            <input type="text" id="funktion" name="funktion" formControlName="funktion">
                        </div>
                        <div class="btnBearbeiten btnMiddle">
                            <p (click)="deletePartner()">Ansprechpartner löschen</p>
                        </div>
                    </div>
                    <div class="split thirdSplit">
                        <p>Notizen:</p>
                        <div class="notizen notizenHoch">
                            <textarea formControlName="notizen" name="notizen"></textarea>
                        </div>
                        <div class="btnBearbeiten btnNotizen">
                            <input type="submit" value="Partner speichern">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="select()">Ansprechpartner auswählen</p>
        </div>
    </div>
</div>