<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="popupWindow" *ngIf="!isLoading">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Ansprechpartner</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Partner:</p>
            <div class="popupTableFirst popupTable">
                <table>
                    <tbody>
                        <tr *ngFor="let p of ansprechpartner, let i = index" (click)="editPartner(p.id)">
                            <td>{{p.anrede}} {{p.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnBearbeiten">
                    <p (click)="addAnsprechpartner()">+</p>
                </div>

            </div>
        </div>
        <div class="split secondSplit" *ngFor="let p of partner">
            <form action="http://localhost/Empty/update/kunde.php?quest=updatePartner&id={{p.id}}" method="post">
                <p>Anrede:</p>
                <select name="anrede" id="anrede">
                    <option *ngFor="let anrede of anrede" formControlName="anrede">{{anrede.anrede}}</option>
                </select>
                <p>Name:</p>
                <input type="text" id="name" name="name" value="{{p.name}}">
                <p>E-Mail:</p>
                <input type="text" id="mail" name="mail" value="{{p.email}}">
                <p>Telefon:</p>
                <input type="text" id="telefon" name="telefon" value="{{p.telefon}}">
                <p>Mobile:</p>
                <input type="text" id="mobile" name="mobile" value="{{p.mobile}}">
                <p>Funktion:</p>
                <input type="text" id="funktion" name="funktion" value="{{p.funktion}}">
                <div class="btnBearbeiten btnMiddle">
                    <input type="submit" value="Partner speichern">
                </div>
            </form>
        </div>
        <div class="split thirdSplit">
            <form>
                <p>Notizen:</p>
                <div class="notizen notizenHoch">
                    <textarea *ngFor="let p of partner" #value>{{p.notizen}}</textarea>
                </div>
                <div class="btnBearbeiten btnNotizen">
                    <input type="submit" value="Notizen speichern">
                </div>
            </form>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="select()">Ansprechpartner auswählen</p>
        </div>
    </div>
</div>