<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Artikel</p>
            <div class="searchBarSmall">
                <input type="text" id="searchBarSmall" placeholder="SEARCH" (keydown.enter)="search()">
                <a (click)="search()"><img [src]="searchIcon" alt=""></a>
            </div>
            <div class="btnErfassen">
                <button type="button" class="btnErfassen" (click)="openGenerateArtikel()">Artikel Erfassen</button>
            </div>
        </div>
        <div class="windowTable">
            <table>
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Bezeichnung</th>
                        <th>Gruppe</th>
                        <th>Einzelpreis</th>
                        <th>Einheit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let artikel of artikel">
                        <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">{{artikel.vorgangsNummer}}</a></td>
                        <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">{{artikel.bezeichnung}}</a></td>
                        <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">{{artikel.gruppe}}</a></td>
                        <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">{{artikel.ep}}</a></td>
                        <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">{{artikel.einheit}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>