<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Artikel</p>
            <div class="searchBarSmall">
                <input type="text" id="searchBarSmall" placeholder="SEARCH">
                <a href="#"><img [src]="search" alt=""></a>
            </div>
            <div class="btnErfassen">
                <button type="button" class="btnErfassen">Artikel Erfassen</button>
            </div>
        </div>
        <div class="windowTable">
            <table>
                <tr>
                    <th>Nummer</th>
                    <th>Bezeichnung</th>
                    <th>Gruppe</th>
                    <th>Einzelpreis</th>
                    <th>Einheit</th>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">AR 60-001</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Landingpage</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">60 - Webentwicklung</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">150.00.-</a></td>
                    <td><a routerLink="/artikel/der-artikel" routerLinkActive="active">Pauschal</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>