<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Angebot umwandeln</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Bitte Option auswählen:</p>
            <form action="" class="radioForm">
                <div>
                    <label for="radioKopieren">Vorgang in neues Angebot kopieren</label>
                    <input type="radio" id="radioKopieren" name="umwandeln" value="kopieren" checked required>
                    <span class="radio"></span>
                </div>
                <div>
                    <label for="ragioInAuftrag">Vorgang in Auftrag kopieren</label>
                    <input type="radio" id="ragioInAuftrag" name="umwandeln" value="inAuftrag" required>
                    <span class="radio"></span>
                </div>
            </form>

        </div>
        <div class="split secondSplit">
        </div>
        <div class="split thirdSplit">
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="convert()">Angebot umwandeln</p>
        </div>
    </div>
</div>