<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Gruppen bearbeiten</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Gruppe/Kategorie:</p>
            <div class="arbeitspakete">
                <div class="list" *ngFor="let eintrag of eintraege">
                    <input type="text" value="{{eintrag.option}}">
                    <input type="text" value="{{eintrag.value}}">
                </div>
            </div>
            <div class="btnBearbeiten btnMeilensteinHinzufuegen">
                <p>+</p>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Änderungen speichern</p>
        </div>
    </div>
</div>