<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="popupWindow" *ngIf="!isLoading">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Rechnungsadresse</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Aktuelle Adresse:</p>
            <p *ngFor="let a of aktuelleAdresse" class="contentReadonly">
                {{a.adresse}}<br />{{a.ortschaft}}<br />{{a.land}}<br />
            </p>
            <p>Ausgewählte / Neue Adresse:</p>
            <form [formGroup]="adressenForm" (submit)="saveAdress()">
                <input type="text" readonly class="contentReadonly" name="id" formControlName="id">
                <input type="text" placeholder="Adresse" name="adresse" formControlName="adresse">
                <input type="text" placeholder="Ortschaft" name="ortschaft" formControlName="ortschaft">
                <input type="text" placeholder="Land" name="land" formControlName="land">
                <div class="btnBearbeiten">
                    <input type="submit" value="Adresse speichern">
                </div>
            </form>
            <div class="btnBearbeiten" (click)="deleteAdresse()">
                <p>Ausgewählte Adresse löschen</p>
            </div>
            <div class="btnBearbeiten" (click)="newAdress()">
                <p>Neue Adresse erstellen</p>
            </div>
        </div>
        <div class="split oneThird">
            <p>Adressliste:</p>
            <div class="windowTable popupTable popupTableOneThird">
                <table>
                    <thead>
                        <tr>
                            <th>Strasse</th>
                            <th>Ortschaft</th>
                            <th>Land</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of rechnungsAdresse" (click)="selectAdress(a.id)">
                            <td>{{a.adresse}}</td>
                            <td>{{a.ortschaft}}</td>
                            <td>{{a.land}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="select()">Adresse auswählen</p>
        </div>
    </div>
</div>