<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Rechnungsadresse</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Aktuelle Adresse:</p>
            <p class="contentReadonly">
                Friedaustrasse 3<br />9608 Ganterschwil<br />CH - Schweiz
            </p>
            <p>Ausgewählte Adresse:</p>
            <p class="contentReadonly">
                Friedaustrasse 3<br />9608 Ganterschwil<br />CH - Schweiz
            </p>
            <p>Neue Adresse:</p>
            <input type="text" placeholder="Adresse">
            <input type="text" placeholder="Ortschaft">
            <input type="text" placeholder="Land">
            <div class="btnBearbeiten">
                <p>Neue Adresse speichern</p>
            </div>
            <div class="btnBearbeiten">
                <p>Ausgewählte Adresse löschen</p>
            </div>
        </div>
        <div class="split oneThird">
            <p>Adressliste:</p>
            <div class="windowTable popupTable popupTableOneThird">
                <table>
                    <thead>
                        <tr>
                            <th>Strasse</th>
                            <th>Ortschaft</th>
                            <th>Land</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Friedaustrasse 3</a></td>
                            <td><a href="">9608 Ganterschwil</a></td>
                            <td><a href="">CH - Schweiz</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Änderungen speichern</p>
        </div>
    </div>
</div>