<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Löschen bestätigen</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="loginText">
            <p>
                Achtung! Sie sind dabei den aktuellen Vorgang zu löschen. Dieser Vorgang kann nicht mehr rückgängig gemacht werden. Für das Löschen eines Vorganges ist ein Admin-Login erforderlich. Falls Sie kein Admin-Login besitzen, wenden Sie sich bitte an Ihren Systemadministrator.
            </p>
        </div>
        <div class="adminLogin">
            <p>Bitte geben Sie ihr Adminstrator Login ein um den Vorgang endgültig zu löschen.</p>
            <div class="loginForm">
                <form [formGroup]="loginForm" (submit)="delete(loginForm.value)">
                    <div class="loginUserName">
                        <img [src]="username" alt="" class="trennLinie">
                        <input type="text" id="userName" placeholder="BENUTZERNAME" formControlName="username">
                    </div>
                    <div class="loginPasswort">
                        <img [src]="passwort" alt="" class="trennLinie">
                        <input type="password" id="pWord" placeholder="PASSWORT" formControlName="password">
                    </div>
                    <div class="submitLogin">
                        <input type="submit" value="Vorgang endgültig löschen" [disabled]="!loginForm.valid">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Abbrechen</p>
        </div>
    </div>
</div>