<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Projekt Ansprechpartner</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Kunde:</p>
            <p class="contentReadonly">
                {{kundenName}}<br />{{kundenAdresse}}<br />{{kundenOrt}}<br />{{kundenLand}}
            </p>
            <p>Neuer Ansprechpartner erstellen:</p>
            <div class="dropDown">
                <select name="anrede" id="anrede">
                    <option value="herr">Herr</option>
                    <option value="frau">Frau</option>
                </select>
            </div>
            <input type="text" placeholder="Vorname">
            <input type="text" placeholder="Nachname">
            <input type="text" placeholder="Telefon">
            <input type="text" placeholder="E-Mail">
            <input type="text" placeholder="Funktion">

            <div class="btnBearbeiten">
                <p (click)="saveNewPartner()">Neuer Ansprechpartner speichern</p>
            </div>

        </div>
        <div class="split oneThird">
            <p>Ansprechpartner:</p>
            <div class="windowTable popupTable popupTableOneThird">
                <table>
                    <thead>
                    </thead>
                    <tbody>
                        <tr *ngFor="let partner of ansprechpartner">
                            <td>{{partner.anrede}} {{partner.name}}</td>
                            <td>{{partner.funktion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="save()">Änderungen speichern</p>
        </div>
    </div>
</div>