<div class="skSidebar">
    <div class="hauptNavigation">
        <div class="homeNav menuPunkt">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
                <img [src]="home" alt="">
                <p>Home</p>
            </a>
        </div>
        <div class="projektNav menuPunkt">
            <a routerLink="/projekte" routerLinkActive="active">
                <img [src]="projekt" alt="">
                <p>Projekte</p>
            </a>
        </div>
        <div class="kundenNav menuPunkt">
            <a routerLink="/kunden" routerLinkActive="active">
                <img [src]="kunde" alt="">
                <p>Kunden</p>
            </a>
        </div>
        <div class="artikelNav menuPunkt">
            <a routerLink="/artikel" routerLinkActive="active">
                <img [src]="artikel" alt="">
                <p>Artikel</p>
            </a>
        </div>
        <div class="unternehmenNav menuPunkt">
            <a routerLink="/unternehmen" routerLinkActive="active">
                <img [src]="unternehmen" alt="">
                <p>Unternehmen</p>
            </a>
        </div>
        <div class="abstand menuPunkt"></div>
        <div class="abstand2 menuPunkt"></div>
        <div class="abstand3 menuPunkt"></div>
        <div class="einstellungenNav menuPunkt">
            <a routerLink="/einstellungen" routerLinkActive="active">
                <img [src]="einstellungen" alt="">
                <p>Einstellungen</p>
            </a>
        </div>
        <div class="logoutNav menuPunkt">
            <a (click)="logoutUser()">
                <img [src]="logout" alt="">
                <p>Logout</p>
            </a>
        </div>
    </div>
</div>