<div class="skSidebar">
    <div class="hauptNavigation">
        <div class="homeNav menuPunkt">
            <a href="">
                <img [src]="home" alt="">
                <p>Home</p>
            </a>
        </div>
        <div class="projektNav menuPunkt">
            <a href="projekte">
                <img [src]="projekt" alt="">
                <p>Projekte</p>
            </a>
        </div>
        <div class="kundenNav menuPunkt">
            <a href="kunden">
                <img [src]="kunde" alt="">
                <p>Kunden</p>
            </a>
        </div>
        <div class="artikelNav menuPunkt">
            <a href="artikel">
                <img [src]="artikel" alt="">
                <p>Artikel</p>
            </a>
        </div>
        <div class="unternehmenNav menuPunkt">
            <a href="unternehmen">
                <img [src]="unternehmen" alt="">
                <p>Unternehmen</p>
            </a>
        </div>
        <div class="abstand menuPunkt">
        </div>
        <div class="einstellungenNav menuPunkt">
            <a href="einstellungen">
                <img [src]="einstellungen" alt="">
                <p>Einstellungen</p>
            </a>
        </div>
        <div class="logoutNav menuPunkt">
            <a href="login">
                <img [src]="logout" alt="">
                <p>Logout</p>
            </a>
        </div>
    </div>
</div>