<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="twoWindow">
    <div class="oben window">
        <div class="windowTitle windowHeader">
            <p>Kopfdaten</p>
            <a (click)="openMetaInformationen()" class="metaIcon"><img [src]="meta" alt="">
            </a>
        </div>
        <div class="windowContent">
            <div class="split firstSplit">
                <div class="row">
                    <p>Nummer:</p>
                    <p>{{kundeNummer}}</p>
                </div>
                <div class="row">
                    <p>Name:</p>
                    <input type="text" value="{{kundenName}}">
                </div>
                <div class="row">
                    <p>Adresse:</p>
                    <input type="text" value="{{kundenAdresse}}">
                </div>
                <div class="row">
                    <p>Ort:</p>
                    <input type="text" value="{{kundenOrt}}">
                </div>
                <div class="row">
                    <p>Telefon:</p>
                    <input type="text" value="{{kundenTelefon}}">
                </div>
                <div class="row">
                    <p>E-Mail:</p>
                    <input type="text" value="{{kundenEmail}}">
                </div>
                <div class="row">
                    <p>Website:</p>
                    <input type="text" value="{{kundenWebsite}}">
                </div>
            </div>
            <div class="split secondSplit">
                <div class="btnBearbeiten">
                    <div class="notizen">
                        <textarea readonly="readonly">{{notizen}}</textarea>
                    </div>
                    <p (click)="openNotizen()">Notizen bearbeiten</p>
                </div>
            </div>
            <div class="split thirdSplit">
                <div class="dropDown">
                    <select name="kundengruppen" id="kundengruppen">
                        <option *ngFor="let kgGruppe of kgGroup">{{kgGruppe.kgGruppe}}</option>
                    </select>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openZahlungskonditionen()">Zahlungskonditionen</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openRechnungsadresse()">Rechnungsadressen</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openAnsprechpartner()">Ansprechpartner</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="openLoeschen()">Kunde löschen</p>
                </div>
                <div class="btnBearbeiten">
                    <p (click)="save()">Kunde speichern</p>
                </div>

            </div>
        </div>
    </div>

    <div class="unten window">
        <div class="windowTitle windowHeader">
            <p>Vorgänge</p>
        </div>

        <div class="split firstSplit">
            <div class="windowTable">
                <table>
                    <thead>
                        <tr>
                            <th>Angebotsnummer</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let angebot of angebote">
                            <td><a routerLink="/projekte/angebot">{{angebot.vorgangsNummer}}</a></td>
                            <td><a routerLink="/projekte/angebot">{{angebot.status}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="split secondSplit">
            <div class="windowTable">
                <table>
                    <thead>
                        <tr>
                            <th>Auftragsnummer</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let auftrag of auftraege">
                            <td><a routerLink="/projekte/auftrag">{{auftrag.vorgangsNummer}}</a></td>
                            <td><a routerLink="/projekte/auftrag">{{auftrag.status}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="split thirdSplit">
            <div class="windowTable">
                <table>
                    <thead>
                        <tr>
                            <th>Rechnungsnummer</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rechnung of rechnungen">
                            <td><a routerLink="/projekte/auftrag">{{rechnung.vorgangsNummer}}</a></td>
                            <td><a routerLink="/projekte/auftrag">{{rechnung.status}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<app-c-footer></app-c-footer>