<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="popupWindow" *ngIf="!isLoading">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Kundendaten</p>
            <div class="searchBarSmallPopup">
                <input type="text" id="searchBarSmallPopup" placeholder="SEARCH" (keydown.enter)="search()">
                <a (click)="search()"><img [src]="searchIcon" alt=""></a>
            </div>

        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="windowTable popupTable">
            <table>
                <thead>
                    <tr>
                        <th>Kundennummer</th>
                        <th>Kunde</th>
                        <th>Adresse</th>
                        <th>Ortschaft</th>
                        <th>Kategorie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="select(k.id)" *ngFor="let k of kunden">
                        <td>KU 40-{{k.id}}</td>
                        <td>{{k.bezeichnung}}</td>
                        <td>{{k.adresse}}</td>
                        <td>{{k.ortschaft}}</td>
                        <td>{{k.kundenGruppenID}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="closeModal()">Abbrechen</p>
        </div>
    </div>
</div>