<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Thomas Brändle</p>
            <a (click)="openMetaInformationen()" class="metaIcon"><img [src]="meta" alt="">
            </a>
        </div>
        <div class="windowContent">
            <div class="split firstSplit">
                <p class="unterTitel">Profil</p>
                <div class="row">
                    <p>Nummer:</p>
                    <p>{{profilNummer}}</p>
                </div>
                <div class="row">
                    <p>Name:</p>
                    <input type="text" id="name" value="{{profilName}}">
                </div>
                <div class="row">
                    <p>Telefon:</p>
                    <input type="text" id="Telefon" value="{{telefon}}">
                </div>
                <div class="row">
                    <p>E-Mail:</p>
                    <input type="text" id="E-Mail" value="{{email}}">
                </div>
            </div>
            <div class="split secondSplit">
                <p class="unterTitel">Passwort ändern</p>
                <form class="row passwortForm" [formGroup]="changePasswordForm" (submit)="changePassword(changePasswordForm.value)">
                    <input type="password" id="Passwort" placeholder="Aktuelles Passwort">
                    <input type="password" id="Passwort" placeholder="Neues Passwort">
                    <input type="password" id="Passwort" placeholder="Neues Passwort bestätigen">
                    <input type="submit" id="submit" value="Neues Passwort speichern">
                </form>
            </div>
            <div class="split thirdSplit">
            </div>
            <div class="speichern">
                <p (click)="save()">Änderungen speichern</p>
            </div>
        </div>
    </div>
</div>