<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Kunden</p>
            <div class="searchBarSmall">
                <input type="text" id="searchBarSmall" placeholder="SEARCH">
                <a href="#"><img [src]="search" alt=""></a>
            </div>
            <div class="btnErfassen">
                <button type="button" class="btnErfassen">Datei Erfassen</button>
            </div>
        </div>
        <div class="windowTable">
            <table>
                <tr>
                    <th>Nummer</th>
                    <th>Kunde</th>
                    <th>Ortschaft</th>
                    <th>Adresse</th>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>
                <tr>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">KU 40-001</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Thomas Brändle</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">9608 Ganterschwil</a></td>
                    <td><a routerLink="/kunden/kunde" routerLinkActive="active">Friedaustrasse 3</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>