<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Kunden</p>
            <div class="searchBarSmall">
                <input type="text" id="searchBarSmall" placeholder="SEARCH" (keydown.enter)="search()">
                <a (click)="search()"><img [src]="searchIcon" alt=""></a>
            </div>
            <div class="btnErfassen">
                <button type="button" class="btnErfassen" (click)="openGenerateKunde()">Kunde Erfassen</button>
            </div>
        </div>
        <div class="windowTable">
            <table>
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Kunde</th>
                        <th>Ortschaft</th>
                        <th>Adresse</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let kunde of kunden">
                        <td><a routerLink="/kunden/kunde" routerLinkActive="active">{{kunde.vorgangsNummer}}</a></td>
                        <td><a routerLink="/kunden/kunde" routerLinkActive="active">{{kunde.kunde}}</a></td>
                        <td><a routerLink="/kunden/kunde" routerLinkActive="active">{{kunde.ortschaft}}</a></td>
                        <td><a routerLink="/kunden/kunde" routerLinkActive="active">{{kunde.adresse}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>