<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Jahresabschluss</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split fullWindow">
            <div class="windowTable popupTable popupTableFull">
                <table>
                    <thead>
                        <tr>
                            <th>Geschäftsjahr</th>
                            <th>Dokument</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let abschluss of abschluesse">
                            <td>{{abschluss.jahr}}</td>
                            <td>{{abschluss.bezeichnung}}</td>
                            <td><a href="">Download</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Schliessen</p>
        </div>
    </div>
</div>