<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Unternehmenslogo ändern</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <div class="logoImg">
                <img [src]="logoUnternehmen" alt="">
            </div>
            <div class="btnBearbeiten btnNotizen">
                <p (click)="uploadLogo()">Neues Logo hochladen</p>
            </div>
        </div>
        <div class="split secondSplit">
        </div>
        <div class="split thirdSplit">
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="save()">Änderungen speichern</p>
        </div>
    </div>
</div>