<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Meilensteine</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
            <p>Bezeichnung:</p>
            <input type="text" placeholder="Bezeichnung">
            <p>Termin:</p>
            <input type="date">
            <p>Status:</p>
            <div class="dropDown">
                <select name="status" id="status">
                    <option *ngFor="let status of status">{{status.status}}</option>
                </select>
            </div>
            <p>Abrechnung:</p>
            <form action="" class="radioForm">
                <div>
                    <label for="radioNichtRegie">Nicht Regiearbeit</label>
                    <input type="radio" id="radioNichtRegie" name="regie" value="Nicht Regiearbeit" checked required>
                    <span class="radio"></span>
                </div>
                <div>
                    <label for="radioRegie">Regiearbeit</label>
                    <input type="radio" id="radioRegie" name="regie" value="Regiearbeit" required>
                    <span class="radio"></span>
                </div>
            </form>
        </div>
        <div class="split secondSplit">
            <p>Notizen:</p>
            <textarea name="notizen" id="notizen"></textarea>
            <p>Beschrieb:</p>
            <textarea name="msBeschrieb" id="msBeschrieb"></textarea>
        </div>
        <div class="split thirdSplit">
            <p>Arbeitspakete:</p>
            <div class="arbeitspakete" *ngFor="let arbeitspaket of arbeitspakete">
                <input type="text" class="readOnly" value="{{arbeitspaket.arbeitspaket}}">
            </div>
            <div class="btnBearbeiten btnMeilensteinHinzufuegen">
                <p>+</p>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Änderungen speichern</p>
        </div>
    </div>
</div>