@import './src/sass/var'
@import './src/sass/popup'

textarea
    height: 140px

.arbeitspakete
    max-height: 320px
    overflow: scroll
    width: 100%

.arbeitspakete input
    width: 97%

.btnMeilensteinHinzufuegen
    width: 98%

.btnMeilenstein
    height: 25px
    width: 25px
    border: 1px solid $borderColor
    border-radius: 8px
    cursor: pointer
    background-color: white
    display: inline-block
