<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="forWindow">
    <div class="forOL window">
        <div class="windowTitle">
            <p>Schnellzugriff</p>
        </div>
        <div class="windowContent">
            <div class="schnellzugriff">
                <p (click)="openGenerateProject()">
                    Projekt erfassen
                </p>
                <p (click)="openGenerateKunde()">
                    Kunde erfassen
                </p>
                <p (click)="openGenerateArtikel()">
                    Artikel erfassen
                </p>
            </div>
        </div>
    </div>
    <div class="forOR window">
        <div class="windowTitle">
            <p>{{unternehmenName}}</p>
        </div>
        <div class="windowContent">
            <div class="infos">
                <p>
                    {{unternehmenAdresse}}
                    <br /> {{unternehmenOrt}}
                    <br />
                    <br /> {{unternehmenTelefon}}
                    <br /> {{unternehmenWebsite}}
                    <br /> {{unternehmenEmail}}
                    <br />
                    <br /> {{unternehmenSlogan}}
                </p>
            </div>
            <div class="logo">
                <img [src]="logoUnternehmen" alt="">
            </div>
        </div>
    </div>
    <div class="forUL window">
        <div class="windowTitle">
            <p>Flüssige Mittel</p>
        </div>
        <div class="windowTable fmTable">
            <table>
                <tbody>
                    <div *ngFor="let fmJahr of fmJahre">
                        <tr class="fmTitle">
                            <th colspan="2">{{fmJahr.jahr}}</th>
                        </tr>
                        <tr class="fmContent">
                            <td>
                                <p>
                                    Ertrag<br /> Offene Rechnungen<br /> Aufwand
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{fmJahr.ertrag}}<br /> {{fmJahr.offeneRechnungen}} <br /> {{fmJahr.aufwand}}
                                </p>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
    <div class="forUR window">
        <div class="windowTitle">
            <p>Letzte Vorgänge</p>
        </div>
        <div class="windowTable vorgaengeTable">
            <table>
                <thead>
                    <tr>
                        <th>Belegart</th>
                        <th>Kunde</th>
                        <th>Nummer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vorgang of vorgaenge">
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{vorgang.vorgangsArt}}</a></td>
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{vorgang.vorgangsBezeichnung}}</a></td>
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{vorgang.vorgangsNummer}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-c-footer></app-c-footer>