<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Projekte</p>
            <div class="searchBarSmall">
                <input type="text" id="searchBarSmall" placeholder="SEARCH">
                <a href="#"><img [src]="search" alt=""></a>
            </div>
            <div class="btnErfassen">
                <button type="button" class="btnErfassen" (click)="openGenerateProject()">Projekt Erfassen</button>
            </div>
        </div>
        <div class="windowTable">
            <table>
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Kunde</th>
                        <th>Erfasst</th>
                        <th>Status</th>
                        <th>Art</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let projekt of projekte">
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{projekt.vorgangsNummer}}</a></td>
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{projekt.kunde}}</a></td>
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{projekt.datum}}</a></td>
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{projekt.status}}</a></td>
                        <td><a routerLink="/projekte/auftrag" routerLinkActive="active">{{projekt.vorgangsArt}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>