<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow" *ngIf="!isLoading">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Projekte</p>
            <div class="searchBarSmall">
                <input type="text" id="searchBarSmall" placeholder="SEARCH" (keydown.enter)="search()">
                <a (click)="search()"><img [src]="searchIcon" alt=""></a>
            </div>
            <div class="btnErfassen">
                <button type="button" class="btnErfassen" (click)="openGenerateProject()">Projekt Erfassen</button>
            </div>
        </div>
        <div class="windowTable">
            <table>
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Kunde</th>
                        <th>Erfasst</th>
                        <th>Status</th>
                        <th>Art</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of projekt" (click)="openProject(p.id, p.vorgangsArt)">
                        <td>{{p.vorgangsID}}</td>
                        <td>{{p.kundenID}}</td>
                        <td>{{p.datumErfasst}}</td>
                        <td>{{p.status}}</td>
                        <td>{{p.vorgangsArt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>