<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="popupWindow generateProject" *ngIf="!isLoading">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Projekt erfassen</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">

        <form [formGroup]="projectForm" (submit)="generate()">


            <div class="split firstSplit">

                <p>Kunde:</p>
                <p class="contentReadonly" *ngFor="let k of kunde">
                    KU 40-{{k.id}}<br />{{k.bezeichnung}}<br />{{k.ortschaft}}
                </p>

                <div class="btnBearbeiten">
                    <p (click)="openKundendaten()">Kundendaten bearbeiten</p>
                </div>

                <p>Ansprechpartner:</p>
                <p class="contentReadonly" *ngFor="let p of partner">
                    {{p.anrede}} {{p.name}}
                </p>

                <div class="btnBearbeiten">
                    <p (click)="openAnsprechpartner()">Ansprechpartner bearbeiten</p>
                </div>

                <p>Rechnungsadresse:</p>
                <p class="contentReadonly" *ngFor="let a of rechnungsAdresse">{{a.adresse}}<br />{{a.ortschaft}}<br />{{a.land}}</p>
                <div class="btnBearbeiten">
                    <p (click)="openRechnungsadresse()">Rechnungsadresse ändern</p>
                </div>

            </div>

            <div class="split secondSplit">

                <div class="dropDown">
                    <p>Zahlungsart:</p>
                    <select name="zahlungsart" id="zahlungsarten" formControlName="zahlungsartID">
                        <option *ngFor="let z of zahlungsart" value="{{z.id}}">{{z.bezeichnung}}</option>
                    </select>
                </div>

                <div class="dropDown">
                    <p>Zahlungskonditionen:</p>
                    <select name="zahlungsbedingungen" id="zahlungsbedingungen" formControlName="zahlungsKonditionenID">
                        <option *ngFor="let z of zahlungskondition" value="{{z.id}}">{{z.bezeichnung}}</option>
                    </select>
                </div>

                <div class="belegart dropDown">
                    <p>Belegart auswählen:</p>
                    <select name="belegart" id="belegart" formControlName="belegart">
                        <option *ngFor="let b of belegart">{{b.bezeichnung}}</option>
                    </select>
                </div>

            </div>

            <div class="split thirdSplit">
                <p>Notizen:</p>
                <div class="notizen notizenHoch">
                    <textarea name="notizen" formControlName="notizen"></textarea>
                </div>
            </div>

            <div class=" popupFooter ">
                <div class="btnBearbeiten btnSpeichern ">
                    <input type="submit" value="Projekt erfassen">
                </div>
            </div>

        </form>

    </div>


</div>