<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Stunden</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div>
            <div class="th splitStunden">
                <p class="inputDate">Datum:</p>
                <p class="inputSelect">Meilenstein:</p>
                <p class="inputText">Arbeitspaket/Leistung:</p>
                <p class="inputTime">h:</p>
                <p class="inputTime">min:</p>
            </div>
            <div class="stundenContent">
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>
                <div class="stunden splitStunden">
                    <input class="inputDate" type="date">
                    <select class="inputSelect" name="meilenstein" id="meilenstein">
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                        <option value="Meilenstein">Meilenstein</option>
                    </select>
                    <input class="inputText" type="text" value="Arbeitspaket/Leistung">
                    <input class="inputTime" type="text" value="5h">
                    <input class="inputTime" type="text" value="40min">
                </div>

            </div>
            <div class="stundenHinzufuegen splitStunden">
                <div class="btnBearbeiten btnHinzufuegen">
                    <p>+</p>
                </div>
            </div>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Änderungen speichern</p>
        </div>
    </div>
</div>