<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Artikel suchen</p>
            <div class="searchBarSmallPopup">
                <input type="text" id="searchBarSmallPopup" placeholder="SEARCH">
                <a href="#"><img [src]="search" alt=""></a>
            </div>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="windowTable popupTable">
            <table>
                <thead>
                    <tr>
                        <th>Artikelnummer</th>
                        <th>Bezeichnung</th>
                        <th>Artikelgruppe</th>
                        <th>Einheit</th>
                        <th>VP 1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let artikel of artikel">
                        <td><a href="">{{artikel.nummer}}</a></td>
                        <td><a href="">{{artikel.bezeichnung}}</a></td>
                        <td><a href="">{{artikel.gruppe}}</a></td>
                        <td><a href="">{{artikel.einheit}}</a></td>
                        <td><a href="">CHF {{artikel.vp}}.-</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p (click)="selectArticle()">Artikel auswählen</p>
        </div>
    </div>
</div>