<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Artikel suchen</p>
            <div class="searchBarSmallPopup">
                <input type="text" id="searchBarSmallPopup" placeholder="SEARCH">
                <a href="#"><img [src]="search" alt=""></a>
            </div>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="windowTable popupTable">
            <table>

                <!-- Table Head (Statisch) -->
                <thead>
                    <tr>
                        <th>Artikelnummer</th>
                        <th>Bezeichnung</th>
                        <th>Artikelgruppe</th>
                        <th>Einheit</th>
                        <th>VP 1</th>
                    </tr>
                </thead>

                <!-- Table Body (Dynamisch) -->
                <tbody>
                    <tr>
                        <td><a href="">AR 63-001</a></td>
                        <td><a href="">Landingpage</a></td>
                        <td><a href="">Webentwicklung</a></td>
                        <td><a href="">Pauschal</a></td>
                        <td><a href="">CHF 150.00.-</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Artikel auswählen</p>
        </div>
    </div>
</div>