@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Regular.ttf')
    font-weight: regular


@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Italic.ttf')
    font-weight: regular


@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Light.ttf')
    font-weight: regular


@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Bold.ttf')
    font-weight: bold


@font-face 
    font-family: "Segoe-Print"
    src: url('./assets/font/segoepr.ttf')
    font-weight: regular



@import './sass/var'
   
*
    padding: 0
    margin: 0
    border: 0
    background-color: $backgroundColor

