@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Regular.ttf')
    font-weight: regular

@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Italic.ttf')
    font-weight: regular

@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Light.ttf')
    font-weight: regular

@font-face 
    font-family: "Roboto"
    src: url('./assets/font/Roboto-Bold.ttf')
    font-weight: bold

@font-face 
    font-family: "Segoe-Print"
    src: url('./assets/font/segoepr.ttf')
    font-weight: regular

@import './sass/var'
   
*
    padding: 0
    margin: 0
    border: 0

body
    background-color: $backgroundColor


h1
    font-family: $fontSegoe
    font-weight: bold
    font-size: 35px
    color: black

h2, h3, h4, h5, p, a, label
    font-family: $fontRoboto
    font-weight: regular
    font-size: 15px
    color: black
    text-decoration: none
