<div class="popupWindow">
    <div class="popupHeader">
        <div class="headerBezeichnung">
            <p>Notizen</p>
        </div>
        <div class="closeTab">
            <span (click)="closeModal()" class="close"><img [src]="close" alt=""></span>
        </div>
    </div>
    <div class="popupContent">
        <div class="split firstSplit">
        </div>
        <div class="split secondSplit">
        </div>
        <div class="split thirdSplit">
        </div>
    </div>
    <div class="popupFooter">
        <div class="btnBearbeiten btnSpeichern">
            <p>Änderungen speichern</p>
        </div>
    </div>
</div>