<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow" *ngIf="!isLoading">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Einstellungen</p>
        </div>
        <div class="split firstSplit">
            <div class="row">
                <p class="unterTitel">Darstellung</p>
                <p class="name">Schriftart Überschriften:</p>
                <select name="fontHeadline" id="">
                    <option *ngFor="let fHoption of fHoptions">{{fHoption.fHoption}}</option>
                </select>
                <p class="name">Schriftart Lauftext:</p>
                <select name="fontText" id="">
                    <option *ngFor="let lToption of lToptions">{{lToption.lToption}}</option>
                </select>
                <p class="name">Ansicht Modus:</p>
                <select name="viewMode" id="">
                    <option *ngFor="let mode of modes">{{mode.mode}}</option>
                </select>
            </div>
        </div>
        <div class="split secondSplit">
            <div class="row">
                <p class="unterTitel">Gruppen und Kategorien</p>
                <p>Zahlungskonditionen:</p>
                <select name="zahlungsbedingungen" id="zahlungskonditionen">
                    <option *ngFor="let zbGruppe of zahlungsKondi">{{zbGruppe.bezeichnung}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen('Zahlungskonditionen')">Zahlungskonditionen bearbeiten</p>
                </div>
                <p>Zahlungsarten:</p>
                <select name="zahlungsarten" id="zahlungsarten">
                    <option *ngFor="let zaGruppe of zahlungsArten">{{zaGruppe.bezeichnung}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen('Zahlungsarten')">Zahlungsarten bearbeiten</p>
                </div>
                <p>Artikelgruppen:</p>
                <select name="artikelgruppen" id="artikelgruppen">
                    <option *ngFor="let agGruppe of artikelGruppen">{{agGruppe.bezeichnung}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen('Artikelgruppen')">Artikelgruppen bearbeiten</p>
                </div>
                <p>Kundengruppen:</p>
                <select name="kundengruppen" id="kundengruppen">
                    <option *ngFor="let kgGruppe of kundenGruppen">{{kgGruppe.bezeichnung}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen('Kundengruppen')">Kundengruppen bearbeiten</p>
                </div>
                <p>Einheiten:</p>
                <select name="einheit" id="einheit">
                    <option *ngFor="let ehGruppe of einheiten">{{ehGruppe.bezeichnung}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen('Einheit')">Einheiten bearbeiten</p>
                </div>
            </div>
        </div>
        <div class="split thirdSplit">
            <div class="row" *ngFor="let info of software">
                <p class="unterTitel">Softwareinfos</p>
                <p class="name">Version:</p>
                <p class="value">{{info.version}}</p>
                <p class="name">Datum:</p>
                <p class="value">{{info.datum}}</p>
                <p class="name">Hersteller:</p>
                <p class="value">{{info.hersteller}}</p>
                <p class="name">Support:</p>
                <p class="value">
                    {{info.supportTel}}
                    <br /> {{info.supportMail}}
                </p>
            </div>
        </div>
        <div class="speichern">
            <p (click)="save()">Änderungen speichern</p>
        </div>
    </div>
</div>