<app-a-header></app-a-header>
<app-b-sidebar></app-b-sidebar>
<div class="oneWindow">
    <div class="one window">
        <div class="windowTitle windowHeader">
            <p>Einstellungen</p>
        </div>
        <div class="split firstSplit">
            <div class="row">
                <p class="unterTitel">Darstellung</p>
                <p class="name">Schriftart Überschriften:</p>
                <select name="fontHeadline" id="">
                    <option *ngFor="let fHoption of fHoptions">{{fHoption.fHoption}}</option>
                </select>
                <p class="name">Schriftart Lauftext:</p>
                <select name="fontText" id="">
                    <option *ngFor="let lToption of lToptions">{{lToption.lToption}}</option>
                </select>
                <p class="name">Ansicht Modus:</p>
                <select name="viewMode" id="">
                    <option *ngFor="let mode of modes">{{mode.mode}}</option>
                </select>
            </div>
        </div>
        <div class="split secondSplit">
            <div class="row">
                <p class="unterTitel">Gruppen und Kategorien</p>
                <p>Zahlungskonditionen:</p>
                <select name="zahlungsbedingungen" id="zahlungsbedingungen">
                    <option *ngFor="let zbGruppe of zbGroup">{{zbGruppe.zbGruppe}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen()">Zahlungskonditionen bearbeiten</p>
                </div>
                <p>Zahlungsarten:</p>
                <select name="zahlungsarten" id="zahlungsarten">
                    <option *ngFor="let zaGruppe of zaGroup">{{zaGruppe.zaGruppe}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen()">Zahlungsarten bearbeiten</p>
                </div>
                <p>Artikelgruppen:</p>
                <select name="artikelgruppen" id="artikelgruppen">
                    <option *ngFor="let agGruppe of agGroup">{{agGruppe.agGruppe}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen()">Artikelgruppen bearbeiten</p>
                </div>
                <p>Kundengruppen:</p>
                <select name="kundengruppen" id="kundengruppen">
                    <option *ngFor="let kgGruppe of kgGroup">{{kgGruppe.kgGruppe}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen()">Kundengruppen bearbeiten</p>
                </div>
                <p>Einheiten:</p>
                <select name="einheit" id="einheit">
                    <option *ngFor="let ehGruppe of ehGroup">{{ehGruppe.ehGruppe}}</option>
                </select>
                <div class="btnBearbeiten">
                    <p (click)="openGruppen()">Einheiten bearbeiten</p>
                </div>
            </div>
        </div>
        <div class="split thirdSplit">
            <div class="row">
                <p class="unterTitel">Softwareinfos</p>
                <p class="name">Version:</p>
                <p class="value">V 1.0.0-0002</p>
                <p class="name">Datum:</p>
                <p class="value">16.10.2022</p>
                <p class="name">Hersteller:</p>
                <p class="value">Goffini GmbH</p>
                <p class="name">Support:</p>
                <p class="value">
                    +41 79 520 65 11
                    <br /> info@goffini.ch
                </p>
            </div>
        </div>
        <div class="speichern">
            <p (click)="save()">Änderungen speichern</p>
        </div>
    </div>
</div>