@import './src/sass/var'
@import './src/sass/window'
@import './src/sass/element'


/* ## Unternehmensseite ## */

/* Einteilung */
.split
    display: inline-block
    width: 30.5%
    margin-top: 10px
    vertical-align: top
    margin-right: 15px

.firstSplit
    margin-left: 40px

.row p
    display: block
    padding: 2px

.unterTitel
    font-size: 20px

.value
    width: 100%
    background-color: $tableColor
    border-radius: 5px
    margin-top: 5px
    margin-bottom: 5px
    padding-left: 5px !important
